 
@font-face {
font-family:"Raleway-medium";
src:url(../fonts/Raleway-Medium.ttf)
}
@font-face {
font-family:"Raleway-bold";
src:url(../fonts/Raleway-Bold.ttf)
}
@font-face {
font-family:"Raleway-extrabold";
src:url(../fonts/Raleway-ExtraBold.ttf)
}
@font-face {
font-family:"Raleway-semibold";
src:url(../fonts/Raleway-SemiBold.ttf)
}
@font-face {
font-family:"Raleway-black";
src:url(../fonts/Raleway-Black.ttf)
}

body{
        background-color: rgb(241, 230, 247);

}

/* .logo{
  font-family:"Raleway-semibold";
  font-size: 25px;
  margin-left: 50px;
}
*/
.custom-shape-divider-top-1703439083 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1703439083 svg {
    position: relative;
    display: block;
    width: calc(120% + 1.3px);
    height: 90px;
}

.custom-shape-divider-top-1703439083 .shape-fill {
    fill: #BC2ED9E3;
}
  
 


/* ------------------------------------------------ */
.headSec img{
  border-radius: 45% 75% / 55%;
      margin-right: 13%;
      margin-top: 60px;
     float: right;
     width : 500px;
 }
 .headText{
    font-family:"Raleway-bold";
    margin-top: 150px;
    margin-left: 80px;
    font-size: 40px;
    line-height: 0.5px;
    padding-top: 50px;
 
 }

 .fa {
    padding: 30px;
     width: 80px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
  }
  .headText a{
    font-size: 35px;
    width: 25px;
   }
  
  
  .fa:hover {
    opacity: 0.9;
  }
  
 
  .fa-linkedin {
     color: rgb(0, 0, 0);
  }
  
 
  .fa-instagram {
     color: rgb(0, 0, 0);
  }
  .fa-google {
     color: rgb(0, 0, 0);
  }
  .fa-telegram{
     color: rgb(0, 0, 0);
  }
  .fa-twitter{
    color: rgb(0, 0, 0);
 }




 .custom-shape-divider-bottom-1703439391 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1703439391 svg {
  position: relative;
  display: block;
  width: calc(120% + 1.3px);
  height: 90px;
}

.custom-shape-divider-bottom-1703439391 .shape-fill {
  fill: #BC2ED9E3;
}

/* ------------------------------------------------------------------------------- */

.skills {
  font-family:"Raleway-bold";
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skill-header {
  margin-bottom: 1rem;
}

.skills-wrapper img {
  padding: .25rem;
}

.icon {
  width: 9.875rem;
  height: 9.25rem;
}
.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}


/* -------------------------------------------------------------------------- */

 
/* -------------------------------------------------------------------------- */

  @media (max-width: 1600px) {
    .headSec img{
      border-radius: 45% 75% / 55%;
      margin-right: 10%;
        margin-top: 30px;
       float: right;
       width : 400px;

   }
   .headText{
      font-family:"Raleway-bold";
      margin-top: 120px;
      margin-left: 100px;
      font-size: 30px;
      line-height: 0.5px;
      padding-top: 40px;
   
   }
  
  }

  @media (max-width: 1300px) {
    .headSec img{
      border-radius: 45% 75% / 55%;
      margin-right: 10%;
        margin-top: 50px;
       float: right;
       width : 350px;

   }
   .headText{
      font-family:"Raleway-bold";
      margin-top: 70px;
      margin-left: 90px;
      font-size: 25px;
      line-height: 0.5px;
      padding-top: 40px;
   
   }
  
  }
  @media (max-width: 1100px) {
    .headSec img{
      border-radius: 45% 75% / 55%;
      margin-right: 10%;
        margin-top: 50px;
       float: right;
       width : 300px;

   }
   .headText{
      font-family:"Raleway-bold";
      margin-top: 50px;
      margin-left: 80px;
      font-size: 18px;
       line-height: 0.5px;
      padding-top: 40px;
   
   }
   .button {
     padding: 18px 25px;
    margin-top: 26px;
    margin-bottom: 30px;
    margin-left: 10px;
    font-size: 20px;
  
  }
} 
 
 
